<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <style>
        #Wrapper {

        }


        #Calculator form input {
            height: 100px;
            width: 100px;
            margin: auto;
            border: red;
            padding: 20px;
            margin-bottom: 4px;
        }
    </style>
</head>
<body bgcolor="#daa520">
<div id="Wrapper">

    <div id="Calculator">
        <form action="/result" method="post">
            <label>Temperature in fahrenheit</label>
            <input type="number" name="fahrenheit" placeholder="Fahrenheit">
            <input type="submit" value="Send data">
        </form>
    </div>


</div>
</body>
</html>